<div class="test-comp">
  <div>これはテスト用のコンポーネントです。</div>

  <div>テスト：{{testMsg}}</div>
  <!-- 名前 -->
  <cmn-text-box
    v-model="name"
    label="お名前"
    maxLength="20"
    isRequired="true"
    labelWidth="10%"
  ></cmn-text-box>

  <!-- 住所 -->
  <cmn-text-box
    v-model="address"
    label="住所"
    maxLength="100"
    labelWidth="10%"
    placeholder="例：東京都新宿区西新宿2-8-1"
  ></cmn-text-box>

  <hr />
  {{$store.state.title}}

  <div class="test-comp__bottom">
    <button class="cmn-btn cmn-btn__gradient" @click="clearButtonClick">
      クリア
    </button>
    <button class="cmn-btn cmn-btn__gradient" @click="searchButtonClick">
      検索
    </button>
    <button class="cmn-btn cmn-btn__gradient" @click="registButtonClick">
      登録
    </button>
  </div>

  <div>
    <table>
      <thead>
        <th>#</th>
        <th>名前</th>
      </thead>
      <tbody>
        <tr v-for="(data, index) in list">
          <td>{{index + 1}}</td>
          <td>{{data.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
