.scrolltop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #333;
  opacity: 0.5;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
.scrolltop:hover {
  cursor: pointer;
  opacity: 1;
}
